a {
  text-decoration: none;
  color: black;
}

.nav-links-placeholder {
  display: flex;
  flex-direction: column;
  gap: 10;
}

.custom-nav-link.active {
  border-bottom: "1px solid blue";
  color: darkblue;
}
