.container {
  text-align: center;
}

.menu {
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: blueviolet;
  height: 100%;
  width: 20%;
  padding-top: 1rem;
  color: white;
}

.links {
  margin: 2em;
  display: flex;
  flex-direction: column;
}

.nav-links {
  margin-top: 2em !important;
  color: beige;
  background-color: darkblue;

  padding: 0.3em;
}

.nav-links:hover {
  color: white;

  box-shadow: 3px 4px 3px 2px rgba(0, 0, 0, 0.4);
}

.header {
  position: fixed;
  background-color: blueviolet;
  width: 80vw;
  height: 3rem;
  top: 0%;
  right: 0%;
  padding-top: 1em;
  color: white;
}

.footer {
  position: fixed;
  bottom: 0%;
  right: 0%;
  width: 80vw;
  background-color: black;
  color: aliceblue;
}

.main {
  position: fixed;
  right: 0%;
  top: 8em;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
