* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.grid {
  /* height: 90vh;
    width: 90%; */
  height: 100vh;
  /* outline: 3px solid black;
  margin: 1em auto; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header  header  sidebar  sidebar   sidebar"
    "main    main    main    main      main"
    "main    main    main    main      main"
    "main    main    main    main      main"
    "main    main    main    main      main";
}

.grid__item {
  font-size: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background-color: rgb(146, 38, 38);
  grid-area: header;
  min-height: 30px;
}

.sidebar {
  background-color: rgb(146, 38, 38, 0.95);
  grid-area: sidebar;
  min-height: 30px;
}
.main {
  /* background-color: rgba(0, 0, 0, 0.5); */
  grid-area: main;
  margin-top: 2vh;
  flex-direction: column;
  min-height: 70vh;
}

@media (width <= 800px) {
  .grid {
    grid-template-areas:
      "header  header  sidebar  sidebar   sidebar"
      "main    main    main    main      main"
      "main    main    main    main      main"
      "main    main    main    main      main";
  }
}

@media (width <= 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "header" "sidebar" "main" "footer";
  }
}
